{% extends "base.html.twig" %}

{% block title %}
    {{ product.title }}
{% endblock %}

{% block body %}

<div class="p-3 mx-auto text-center">
    <h1 class="display-4">{{ product.title }}</h1>
</div>

<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <img src="{{ product.image }}" alt="{{ product.title }}">
                {{ product.description | raw }}
            </div>
        </div>
    </div>
</div>

{% endblock %}


