<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">eShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="{{ path('home') }}">Accueil</a>
            <a class="nav-link" href="{{ path('default_category', {'alias' : 'femme'}) }}">Femme</a>
            <a class="nav-link" href="{{ path('default_category', {'alias' : 'homme'}) }}">Homme</a>
            <a class="nav-link" href="{{ path('default_category', {'alias' : 'enfant'}) }}">Enfant</a>
            <a class="nav-link" href="{{ path('default_category', {'alias' : 'maison'}) }}">Maison</a>
            <a class="nav-link" href="#">Panier</a>
            <a class="nav-link" href="#">Contact</a>
        </div>
        <div class="navbar-nav ml-auto">

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                {% if is_granted('ROLE_AUTHOR') %}
                    <a class="nav-link" href="{{ path('product_create') }}">Ajouter un produit</a>
                {% endif%}

                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
            {% else %}
                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                <a class="nav-link" href="{{ path('user_register') }}">Inscription</a>
            {% endif %}

        </div>
    </div>
</nav>
